/* COLORS */

$primary-color: #24E081;
$light-primary-color: #6BEAAA;
$secondary-color: #51ff00;
$light-secondary-color: #bcff9e;
$primary-background-color: #161b20;
$secondary-background-color: #20242c;
$alternative-background-color: #343642;
$light-primary-background-color: #878a9b;
$light-secondary-background-color: #cdd0e4;

$primary-text-color: #FBFBFB;
$alternative-text-color: #d3d3d3;
$disabled-text-color: #7A7D90;