/* COLORS */

$primary-color: #24E081;
$secondary-color: #00ca1b;
$light-primary-color: #9fffcf;
$light-secondary-color: rgb(126, 255, 133);
$primary-background-color: #161b20;
$secondary-background-color: #20242c;
$alternative-background-color: #343642;
$light-primary-background-color: #878a9b;
$light-secondary-background-color: #cdd0e4;

$primary-text-color: #FBFBFB;
$secondary-text-color: $secondary-background-color;
$alternative-text-color: #d3d3d3;
$disabled-text-color: #7A7D90;