.sticky-toolbar {
    background-color: white;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-spacer {
    flex: 1 1 auto;
}


.example-icon  {
    border: 0;
    background-color: white;
    padding : 0 1em 0 1em;
    cursor: pointer;
}

.content {
    padding: 3em;
}