@import "../../shared/scss/_colors.scss";


.top-container {
    background-color: $primary-background-color;
    padding: 50px;
    text-align: center;
  }
  
.header {
    padding: 2em 3em 2em 3em;
    background: $light-primary-color;
    color: $primary-background-color;
    position: sticky;
}

.header-title {
    font-size: x-large;
}

.content {
    padding: 3em;
    background: $primary-background-color;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

h3, p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}