<h1>Accueil</h1>
<div class="card">
    <div class="card-head">Présentation de l'application</div>
    <div class="card-body">
        Cette application est un projet bac à sable développé avec le framework Angular. Je m'en sers pour créer,
        tester, expérimenter. J'essaie des choses en CSS, des éléments HTML, des scripts, je m'amuse.
    </div>
    <div class="card-body">Vous pouvez donc retrouver toutes les
        fonctionalités que j'ai ajouté dans la barre de navigation latérale à gauche.
    </div>
</div>