<div class="container">
    <h1>Accueil</h1>
    <div class="card">
        <div class="card-head">Angularium c'est quoi ?</div>
        <div class="card-body">
            Cette application que j'ai appelé Angularium est un projet bac à sable développé avec le framework Angular (v13.3.8). Je
            m'en sers pour exprimer ma créativité et m'entrainer à la conception d'applications web. L'objectif est de
            tester l'étendu des possibles du web design et de tout regrouper dans une seule application.
        </div>
        <div class="card-body">Vous pouvez retrouver toutes les
            fonctionalités que j'ai ajouté dans la barre de navigation latérale dépliable à gauche.
        </div>
    </div>
</div>
